<h1>Your information was destroyed.</h1>

<p>The picture caption deleted was <%= @picture.caption %></p>
<p>The picture URL deleted was <%= @picture.source %></p>

<a href="http://localhost:3000/all_pictures">Back to list of all pictures</a>