<h1>Edit a Picture</h1>

<form action="http://localhost:3000/update_picture/<%= @picture.id %>">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%= @edit_pic.caption %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value="<%= @edit_pic.source %>">
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div>
</form>